body{
  
  margin-left:300px;
  margin-top: 20px;
  margin-right: 300px;
background-color:#9FADF0;
}

.form-container {
  padding: 3vmin;
  background-color: var(--tan-1);
  border: .1vmin solid var(--tan-3);
  border-radius: 1vmin;
  height: 300px;
  background-color:whitesmoke;

}
form {
  display: grid;
  grid-template-columns: 1fr 3fr;
  gap: 1.25vmin;
}

img {
  
 display: flex;
 justify-items: center;
  height: 300px;
  width: 800px;
  border-radius: 20px;
  
}

