        
body{
    background-color: rgb(233, 233, 233);
}
  
  .SignUpForm {
    padding: 3vmin;
    background-color: var(--tan-1);
    border: .1vmin solid var(--tan-3);
    border-radius: 1vmin;
    height: 400px;
    background-color:silver;
  
  }
  form {
    display: grid;
    grid-template-columns: 1fr 3fr;
    gap: 1.25vmin;
  }
  
  img {
    
   display: flex;
    margin-left: 30%;
    margin-top: 10px;
    height:300px;
   max-width: 600px;
    border-radius: 20px;
    
  }
  
  